body {
  background-image: url(./images/wallpaper.jpg);
  background-repeat: no-repeat;
  color: white;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  word-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
}

h3,
p {
  font-family: Arial, Helvetica, sans-serif;
}

.glass {
  background-color: rgba(25, 180, 225, 0.3);
  min-height: 300px;
  width: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  border-radius: 10px;
  box-shadow: 5px 10px 10px black;
  backdrop-filter: blur(2px);
  text-align: center;
}
.glass:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.5s;
}

.avtar {
  border-radius: 50%;
}
